.imgContainer{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 50%;
}
.img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
}
.header{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white-bg-col);
}
.wrapper{
    position: relative;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
}
@media(max-width: 600px){
    .imgContainer{
        width: 100vw;
    }
    .wrapper{
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 47%));
    }
    .container{
        padding: 1rem;
    }
}